@font-face {
    font-family: 'gotham_book';
    src: url('/fonts/Gotham Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_extra_light';
    src: url('/fonts/Gotham Extra Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_black';
    src: url('/fonts/GOTHAM-BLACK.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_bold';
    src: url('/fonts/GOTHAM-BOLD.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_light';
    src: url('/fonts/GOTHAM-LIGHT.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_medium';
    src: url('/fonts/GOTHAM-MEDIUM.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}