$text-default: #30383B !default;
$text-danger: #DE0500 !default;
$border-color: #95989A !default;
$purple-color: #531199 !default;
$pink-color: #FC3C8E !default;
$green-color: #22CE93 !default;
$red-color: #FD004D !default;
$light-purple: #7541AD !default;
$light-pink: #FC63A4 !default;
$light-green: #4ED7A8 !default;
$light-red: #FD3371 !default;
$text-danger: #DE0601 !default;
$text-primary: blue;


$placeholder-color: red;